body {
    font-family: 'Ubuntu';
    margin: 0;
    padding: 0;
    background-color: #999999;
    color: #1f1f1f;
}

header {
    background-color: #00001b;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
}

.profile-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 10px solid #18176e;
    position: absolute;
    top: 20px;
    left: 20px;
}

h1, h2, h3, p {
    margin: 10px 0;
}

a {
    color: #ffd700;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

section {
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 18px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
    padding-left: 20px;
    position: relative;
}

li:before {
    position: absolute;
    left: 0;
    color: #333;
}

@media (min-width: 768px) {
    main {
        flex-direction: row;
        flex-wrap: wrap;
    }

    section {
        flex: 1 1 300px;
        margin: 5px;
    }
}
